<div class = "middle-column" id = "middle-column">
    <div div class = "task-bar-container">
        <div class = "task-bar">
            <div id = "task-name"> Task </div>
            <span id = "dot-icon"></span>
        </div>
        <span id = "share-icon"></span>
        <button class = "share-button">
            <span id = "share-text">Share</span>
        </button>
        <span id = "sort-icon"></span>
        <button class = "sort-button">
            <span id = "sort-text">sort</span>
        </button>
    </div>
    <div id = "sub-task-list"> </div>
    <div class = "add-task-list">
        <div id = "add-task"> 
            <span id = "plus"></span>
            <div class = "check-box-container">
                <input type="checkbox"/>
                <span class="checkmark"></span>
            </div>
            <input type = "text" id = "new-task" placeholder = "Add task"/>
        </div>
    </div>
</div>