<div class = "right-column" id = "right-column" [ngClass] = "(isToggled && currentSubTask.status)? 'right-column display-right-col-style':'right-column'">
    <div class = "sub-task-info">
        <div id = "sub-task">
            <span class = "strike" [class.strike-image] = "currentSubTask.isStriked" (click) = "strikeSubTask()"></span>
            <div id = "sub-task-name" [class.strike-text] = "currentSubTask.isStriked">{{currentSubTask.subTaskName}}</div>
            <span id = "star-symbol"></span>
        </div>
        <div id = "steps-list" *ngFor="let step of currentSubTask.steps">
            <div class = "new-step" *ngIf="step.status">
                <span class = "strike" [class.strike-image] = "step.isStriked" (click)="strikeStep(step)"></span>
                <span class = "taskSpan-style" [ngClass]="step.isStriked ? 'taskspan-style strike-text' : 'taskspan-style'">{{step.stepName}}</span>
                <span class = "delete-button" (click) = "deleteStep(step)">x</span>
            </div>
        </div>
        <div id = "add-steps">
            <span id = "add-steps-symbol"></span>
            <input type = "text" #newStep id = "new-step" placeholder = "Add steps" (keyup.enter) = "addStep(newStep)"/>
        </div>
        <div id = "add-to-my-day">
            &#9728;
            <span id = "add-my-day-text"> Add to my day </span>
        </div>
        <div id = "remainder-me">
            <i class="fa fa-bell"></i>
            <span id = "remainder-text"> Remind me </span>
        </div>
        <div id = "add-due-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span id = "due-date-text"> Add due date </span>
        </div>
        <div id = "repeat">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span id = "repeat-text"> Repeat </span>
        </div>
        <div id = "add-file">
            <i class="fa fa-paperclip"></i>
            <span id = "add-file-text">Add file</span>
        </div>
        <div id = "add-note">
            <div id = "add-note-content" contentEditable=true placeholder="Add note"></div>
        </div>
    </div>
    <div class = "taskCloseInfo">
        <span id = "close-button" (click) = 'closeSubTaskInfo()'></span>
        <span id ="date"></span>
        <span id = "delete-sub-task" (click) = 'deleteSubTask()'></span>
    </div>
</div>