@import '../todoStyles.scss';

.left-column {
    transition: 0.3s;
    width: 3.2rem;
    height: 39rem;
    background-color: #f4f4f4;
    border-right: 1px solid #eaeaea;
    overflow: auto;
    overflow-x: hidden;

    .menu-icon {
        width: 16px;
        height: 1px;
        background-color: #465efc;
        margin: 3px;
    }

    #menu-icon:hover {
        background-color:white;
        cursor:pointer;
    }

    .bars-icon {
        height:75px;

        button {
            position: relative;
            left: 7px;
            top: 20px;
            border: none;
            background: transparent;
            width: 33px;
            height: 33px;
            outline-color:#f4f4f4;
        }
    }

    #side-menu {
        margin-top: -3px;
        padding-left: 1px;
        overflow-x: hidden;

        #sun-icon {
            height: 37px;
            position: relative;
            display: flex;
            padding-left: 17px;
            align-items: center;

            &:hover {
                background-color:white;
                cursor:pointer;
            }

            #sun-symbol {
                position: relative;
                width: 1rem;
                height: 1rem;
                left: -0.2rem;
                top: -0.2rem;
                @include background("/assets/images/sun.svg");
            }
        }

        #flag-icon {
            height: 37px;
            position: relative;
            display: flex;
            padding-left: 17px;
            align-items: center;

            &:hover {
                background-color:white;
                cursor:pointer;
            }

            #flag-symbol {
                position: relative;
                width: 1rem;
                height: 1rem;
                left: -0.2rem;
                top: -0.2rem;
                @include background("/assets/images/flag.svg");
            }
        }

        #star-icon {
            height: 37px;
            position: relative;
            display: flex;
            padding-left: 17px;
            align-items: center;

            &:hover {
                background-color:white;
                cursor:pointer;
            }
            
            #star-symbol {
                position: relative;
                width: 1rem;
                height: 1rem;
                left: -0.2rem;
                top: -0.2rem;
                opacity:0.7;
                @include background("/assets/images/star.svg");
            }
        }

        #calendar-icon {
            height: 37px;
            position: relative;
            display: flex;
            padding-left: 17px;
            align-items: center;

            &:hover {
                background-color:white;
                cursor:pointer;
            }

            #calendar-symbol {
                position: relative;
                width: 1rem;
                height: 1rem;
                left: -0.2rem;
                top: -0.2rem;
                @include background("/assets/images/calendar.svg");
            }
        }

        #user-icon {
            height: 37px;
            position: relative;
            display: flex;
            padding-left: 17px;
            align-items: center;

            &:hover {
                background-color:white;
                cursor:pointer;
            }

            #user-symbol {
                position: relative;
                width: 1rem;
                height: 1rem;
                left: -0.2rem;
                top: -0.2rem;
                @include background("/assets/images/user.svg");
            }
        }

        #home-icon {
            height: 37px;
            position: relative;
            display: flex;
            padding-left: 17px;
            align-items: center;

            &:hover {
                background-color:white;
                cursor:pointer;
            }

            #home-symbol {
                position: relative;
                width: 1rem;
                height: 1rem;
                left: -0.2rem;
                top: -0.2rem;
                @include background("/assets/images/home.svg");
            }
        }
    }



    #plus-icon {
        height: 37px;
        position: sticky;
        display: flex;
        padding-left: 17px;
        bottom: 0;
        background-color: white;

        &:hover {
            background-color:white;
            cursor:pointer;
        }

        #plus-symbol{
            position: relative;
            width: 1.5rem;
            height: 1rem;
            left: -0.2rem;
            top: 0.1rem;
            @include background("/assets/images/plus-symbol.svg");
        }

        .menu-name {
            line-height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 13rem
        }
        
        input {
            border: none;
            outline-color: #f4f4f4;
            background-color: #f4f4f4;
            padding-bottom: 1rem;

            &:hover {
                background-color:#f4f4f4;
            }
        }

        #group-symbol{
            position: relative;
            width: 2.5rem;
            height: 1.5rem;
            @include background("/assets/images/list-file.svg");
        }
    }

    .new-list {
       display : flex;
       color : #3d71e4;
       height : 37px;
       padding-left : 17px;
       cursor : pointer;
       align-items : center;
    }
    
    .task-count{
        width: 1rem;
        height: 1rem;
        color: #292b35;
        opacity: 0.7;
        font-size: 0.7rem;
    }
    
    .task-name {
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }
    
    .list-icon {
       position: relative;
       width: 1rem;
       height: 1rem;
       left: -0.2rem;
       top: -0.2rem;
       opacity:0.9;
       @include background("/assets/images/list.svg");
    }
    
    .menu-name {
        padding-bottom: 0.5rem;
        padding-left: 12px;
        display: block;
        color: #292b35;
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 13rem;
    }
}
    
.open-left-column-style {
    width:18.2rem;
 }